/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*----------------------------------Template styles---------------------------------- */

body {
  font-family: Larsseit;
  font-size: 16px;
  color: rgba(34, 53, 111, 0.5);
}

h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 3em; /*48px*/
  line-height: 53px;
  letter-spacing: -0.035em;
}

h2 {
  font-size: 2.25em; /*36px*/
  line-height: 27px;
  letter-spacing: -0.006em;
}

h3 {
  font-size: 2em; /*32px*/
}

h4 {
  font-size: 1.75em; /*28px*/
}

h5 {
  font-size: 1.5em; /*24px*/
}

p {
  line-height: 23px;
  letter-spacing: -0.006em;
}

a,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

button,
button:active,
button:focus {
  outline: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  text-transform: uppercase;
  line-height: 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

/*Main font's colors*/

.color-primary {
  color: #22356f;
}
.color-blue {
  color: #62d0df;
}
.color-white {
  color: #ffffff;
}
.color-orange {
  color: #f9b640;
}

.color-pink {
  color: #ffe2de;
}

.color-green {
  color: #c4e769;
}

.color-dark-blue {
  color: #0052c1;
}

.color-ligth-pink {
  color: #dee1ff;
}

.color-dark-pink {
  color: #8f00ff;
}

/*Main background's colors*/

.bg-primary {
  background: #22356f;
}
.bg-blue {
  background: #62d0df;
}
.bg-white {
  background: #ffffff;
}
.bg-orange {
  background: #f9b640;
}

.bg-pink {
  background: #ffe2de;
}

.bg-green {
  background: #c4e769;
}

.bg-dark-blue {
  background: #0052c1;
}

.bg-ligth-pink {
  background: #dee1ff;
}

.bg-dark-pink {
  background: #8f00ff;
}

/* Header styles */

.header {
  padding: 27px 0 75px;
  background-image: url("../media/img/header-bg.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  transition: ease-out 0.3s;
}
.header__top.sticky {
  position: fixed;
  background: #f4f9e2;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  transition: ease-out 0.3s;
}

nav.active {
  position: fixed;
  font-size: 2.5em;
  width: 100%;
  height: 100%;
  top: 0;
  flex-direction: column;
}

.nav__list {
  display: flex;
}

nav.active .nav__item {
  margin: 30px 0;
}
.nav__button {
  display: none;
}
.nav__button.active {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 11;
}
.button__line,
.button__line::before,
.button__line::after {
  display: block;
  position: relative;
  background: #000;
  width: 20px;
  height: 2px;
  content: "";
}
.button__line::before {
  top: -5px;
}

.button__line::after {
  top: 3px;
}

.nav__button.active {
  transform: rotate(90deg);
}

.nav__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.nav__item:not(:first-of-type) {
  margin-left: 26px;
}

.nav__item.active::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #22356f;
  position: absolute;
  bottom: -10px;
}

.button-contact-us {
  padding: 20px 30px;
  border-radius: 50px;
}

.header__body {
  margin-top: 174px;
}

.header__title {
  max-width: 484px;
  margin-top: 55px;
}

.header__subtitle {
  max-width: 469px;
  margin-top: 84px;
}

.header__body .button-who-i-am {
  padding: 20px 30px;
  margin-top: 63px;
}

/* Main's section styles */

/*Why Thrive seciton*/

.why-thrive__inner {
  display: flex;
  justify-content: space-between;
}

.why-thrive__content {
  flex: 0 1 auto;
  padding: 120px 15px 91px;
  margin: auto;
}

.why-thrive__image {
  flex: 0 1 auto;
}

.why-thrive__image img {
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
}

.why-thrive__subtitle {
  max-width: 555px;
  margin-top: 75px;
  line-height: 35px;
}

/*about-us*/

.about-us {
  position: relative;
  padding: 150px 0 0;
  text-align: center;
}

.tag {
  text-transform: uppercase;
}

.about-us__tag {
  text-align: left;
  position: relative;
  padding-left: 106px;
  top: 25px;
}

.about-us__text {
  margin: auto;
  max-width: 592px;
  font-weight: 500;
  padding: 0 15px;
}

/*can-help*/
.can-help {
  margin-top: 76px;
  text-align: center;
}

.squares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.can-help__square {
  margin-top: 24px;
  flex: 0 0 25%;
  height: 360px;
  padding: 3.5em 2.5em 0;
}

.squere__title {
  color: white;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
}

.squere__line {
  background: white;
  width: 100%;
  height: 1px;
}

.squere__title::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: #e9b730;
  position: relative;
  border-radius: 50%;
  margin-right: 15px;
}

/* big__squares */

.big__squares {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.big__square {
  flex: 0 0 33.33%;
  padding: 90px 70px 0;
}

/* services */

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service {
  flex: 0 0 33.33%;
  padding: 55px 30px 27px 70px;
}

.service__title {
  color: #22356f;
}

.service__text {
  max-width: 298px;
  margin-top: 28px;
}

/* also-know */

.also-know {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.also-know__image {
  flex: 0 1 auto;
}

.also-know img {
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.also-know__content {
  flex: 1 1 auto;
  padding: 103px 60px 106px;
}

.also-know__text {
  margin-top: 225px;
  max-width: 676px;
  line-height: 53px;
  letter-spacing: -0.01em;
}

.also-know__button {
  margin-top: 152px;
  padding: 0;
}

/* contact-us */

.contact-us__inner {
  display: flex;
  justify-content: space-between;
}

.contact-us__content {
  padding: 103px 15px 60px;
}

.contact-us__image {
  flex: 0 1 auto;
}

.contact-us img {
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.contact-us__title {
  margin-top: 230px;
  font-size: 4em;
  line-height: 94px;
  letter-spacing: -0.01em;
}

.contact-us__subtitle {
  margin-top: 75px;
  max-width: 579px;
  line-height: 53px;
  letter-spacing: -0.005em;
}

.contact-us__button {
  margin-top: 90px;
}

/* Footer styles */

.footer__inner {
  display: flex;
  justify-content: flex-start;
}

.footer__image {
  flex: 0 1 30%;
}

.footer__image img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.footer__information {
  padding: 98px 0 0 68px;
  flex: 1 1 auto;
  display: flex;
  align-items: baseline;
}

.footer__col:not(:first-of-type) {
  margin-left: 80px;
}

.col__label {
  text-transform: uppercase;
  color: #22356f;
  font-weight: 600;
}

.col__text {
  position: relative;
  margin-top: 55px;
  max-width: 207px;
}

.subfooter {
  padding: 32px 0;
}

/*Breakpoints*/

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .header {
    background-color: #f4f9e2;
  }
  .header__body {
    margin-top: 0.5em;
  }
  .header__body .logo {
    display: none;
  }
  .can-help__square {
    font-size: 0.75em;
  }
  .squere__title {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }
  .squere__title::before {
    top: -10px;
    margin: 0;
  }
  .also-know__content {
    padding: 6em 2em 2em;
  }
  .footer__information {
    padding: 3em;
    justify-content: space-between;
  }
  .footer__col:not(:first-of-type) {
    margin: 30px 0;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 12px;
  }
  .header {
    background-size: contain;
  }
  .header__inner .button {
    padding: 0.75em;
  }
  .about-us__tag {
    text-align: center;
    position: relative;
    padding: 0;
    top: 0;
  }
  .big__square {
    flex: 0 0 50%;
  }
  .footer__information {
    flex-wrap: wrap;
  }
  .footer__col {
    margin: 30px 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .why-thrive__inner {
    flex-wrap: wrap-reverse;
  }
  .why-thrive__image {
    flex: 1 1 100%;
  }
  .why-thrive__image img {
    width: 100%;
  }

  .also-know__text {
    margin-top: 1.5em;
  }

  .also-know__button {
    margin-top: 3em;
  }
  .contact-us__tag {
    margin-top: 1em;
  }
  .contact-us__title {
    margin-top: 1.5em;
  }
  .contact-us__subtitle {
    margin-top: 1.5em;
  }
  .contact-us__button {
    margin-top: 2em;
  }
}

@media screen and (max-width: 576px) {
  .header {
    background-image: none;
  }

  nav {
    background-color: #f4f9e2;
    position: absolute;
    top: -200px;
    opacity: 1;
    z-index: 10;
  }
  .nav .nav__item.active::after {
    bottom: 3px;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__button {
    display: block;
  }
  .big__squares {
    margin: 0;
  }
  .can-help__square,
  .big__square {
    margin: 0;
    flex: 0 0 100%;
    height: 180px;
    padding: 3.5em 2.5em 0;
  }
  .service {
    flex: 0 0 100%;
    padding: 2em;
  }
  .also-know {
    flex-wrap: wrap;
  }
  .also-know__image {
    flex: 1 1 100%;
  }
  .also-know img {
    width: 100%;
    height: auto;
  }
  .contact-us__inner {
    flex-wrap: wrap;
  }
  .contact-us__image img {
    width: 100%;
    height: auto;
  }

  .footer__inner {
    flex-wrap: wrap-reverse;
  }
  .footer__image {
    flex: 1 1 100%;
  }
}
